name: Deploy to VPS

on:
  push:
    branches:
      - main
      - master

jobs:
  deploy:
    runs-on: self-hosted
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Copy .env file
        run: |
          cp /xan/hris.hasanaskari.com/.env .env

      - name: Stop existing containers
        run: |
          docker rm -f hris-web-prod hris-bot-prod 2>/dev/null || true

      - name: Deploy
        run: |
          docker compose --profile production up -d --build
